<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="heading">post in Detail</h2>
   
    <div class="main">
        <p >Post id:<%= post.id %></p>
        <h3>@<%= post.username %></h3>
        <h4><%= post.content %></h4>
    </div>   
</body>
</html>